<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/section :: encabezado"></head>
<body>
	<header th:replace="layout/section :: menu"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/form}" th:object="${cliente}" method="post"
					enctype="multipart/form-data">

					<div class="form-group row">
						<label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{nombre}" />
						</div>
						<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
							class="alert alert-danger"></div>

					</div>
					<div class="form-group row">
						<label for="apellido" class="col-sm-2 col-form-label">Apellido:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{apellido}" />
						</div>
						<div th:if="${#fields.hasErrors('apellido')}"
							th:errors="*{apellido}" class="alert alert-danger"></div>
					</div>
					<div class="form-group row">
						<label for="email" class="col-sm-2 col-form-label">Correo:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{email}" />
						</div>
						<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
							class="alert alert-danger"></div>

					</div>

					<div class="form-group row">
						<label for="fechaCreacion" class="col-form-label col-sm-2">Fecha:</label><br>
						<div class="col-sm-4">
							<input type="date" th:field="*{fechaCreacion}"
								class="form-control"><br>
						</div>
						<div th:if="${#fields.hasErrors('fechaCreacion')}"
							th:errors="*{fechaCreacion}" class="alert alert-danger"></div>

					</div>

					<div class="form-group row">
						<label for="file" class="col-sm-2 col-form-label">Foto</label>
						<div class="col-sm-6">
							<input type="file" name="file" class="form-control" />
						</div>
					</div>


					<div class="form-group row">
						<div class="col-sm-6">
							<button type="submit" value="Creacion" class="btn btn-primary">Crear
								Usuario</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/section :: piedepagina"></footer>
</body>
</html>